<div class="panel panel-primary">

    <div class="panel-body">
        <b>
            <f:translate key="route.options" extensionName="routes"/>
        </b>
    </div>

    <div class="panel-footer">
        <f:if condition="{route.options.middleware}">

            <b>
                <f:translate key="route.middleware" extensionName="routes"/>:
            </b>

            <br/>
            <f:for each="{route.options.middleware}" as="middleware">
                <b>- </b>
                {middleware}
            </f:for>
            <br/>

        </f:if>
    </div>

</div>
