<f:layout name="Default" />

<f:section name="Content">

    <f:render partial="Route/Endpoint" arguments="{_all}"/>

    <f:if condition="{route.methods}">
	    <f:render partial="Route/Method" arguments="{_all}"/>
    </f:if>

    <f:if condition="{route.defaults}">
        <f:render partial="Route/Defaults" arguments="{_all}"/>
    </f:if>

	<f:if condition="{route.requirements}">
        <f:render partial="Route/Requirements" arguments="{_all}"/>
	</f:if>

	<f:if condition="{route.condition}">
        <f:render partial="Route/Condition" arguments="{_all}"/>
	</f:if>

    <f:if condition="{route.options -> f:count()} > 1">
        <f:render partial="Route/Options" arguments="{_all}"/>
	</f:if>

    <f:if condition="{route.schemes}">
        <f:render partial="Route/Schemes" arguments="{_all}"/>
	</f:if>

</f:section>
